body{
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.login{
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}
		#sha{
			max-width: 340px;
			-webkit-box-shadow: 0px 0px 18px 0px rgba(48,50,50,0.48);
			-moz-box-shadow: 	0px 0px 18px 0px rgba(48,50,50,0.48);
			box-shadow:  		0px 0px 18px 0px rgba(48,50,50,0.48);
			border-radius: 6%;
		}
		#login{
			width: 96px;
			height: 96px;
			margin: 0px auto 10px;
			display: block;
			border-radius: 50%;
		}
		
		#registro_sha{
			max-width: 600px;
			-webkit-box-shadow: 0px 0px 18px 0px rgba(48,50,50,0.48);
			-moz-box-shadow: 	0px 0px 18px 0px rgba(48,50,50,0.48);
			box-shadow:  		0px 0px 18px 0px rgba(48,50,50,0.48);
			border-radius: 6%;
		}
		.cargandoEditar{
			width: 30px;
			height: 30px;
		}

		.loadingDatos{
			float: left;

		}

		#formulario_sha{
			max-width: 740px;
			-webkit-box-shadow: 0px 0px 18px 0px rgba(48,50,50,0.48);
			-moz-box-shadow: 	0px 0px 18px 0px rgba(48,50,50,0.48);
			box-shadow:  		0px 0px 18px 0px rgba(48,50,50,0.48);
			border-radius: 0%;
		}
		#formulario{
			
			width: 670px;
			margin: 0px auto 10px;
			display: block;
			font-family: calibri;
			font-size: 10pt;
		}
		
		/*PAGINA PARA CREAR PESTAÑAS 
		http://programandoointentandolo.com/2012/11/como-crear-pestanas-con-html.html*/

		.derecha
		{
			float: right;
			padding-right: 0px;
		}

		#tabs {
			float: right;
		}
		
		#menuVert1 {
		color: black;
        border-radius: 0%;
        width: 160px; 
        list-style: none;
        background-color: white;
        background-size: 0px;
        padding-top: 0px;
        padding-left: 40px;
        float: left;
        border-width: 0px;
        display: inline-block;
      	}

      	#saludo{
      		width: 400px;
      		height: 350px;
      		padding: 30px;
      	}
      	
		#test_icon
		{
			width: 60px;
			height: 60px;
		}